<div class="container">
  <h1 class="titulo">
    To Do List
  </h1>

  <div class="tarefa">
    <input type="text" name="tarefa" [(ngModel)]="tarefa">
    <button (click)="addTarefa()" class="addTarefa">+</button>
  </div>

  <ul *ngIf="items?.length > 0; else listaVazia">
    <li *ngFor="let item of items">
       {{item}}
       <button (click)="removeTarefa(item)" class="removeTarefa">-</button>
    </li>
  </ul>

  <ng-template #listaVazia>
    <p>Nenhuma tarefa</p>
  </ng-template>
</div>
